########## Local python libraries  ##########
# Add one-by-one as there might be subfolders
export PYTHONPATH="${PYTHONPATH:+${PYTHONPATH}:}${PWD}/tabformer"
export PYTHONPATH="${PYTHONPATH:+${PYTHONPATH}:}${PWD}/third-party/tab-transformer"
export PYTHONPATH="${PYTHONPATH:+${PYTHONPATH}:}${PWD}/third-party/tab-llm"
