[submodule "tab-transformer"]
	path = third-party/tab-transformer
	url = https://github.com/z-a-f/tab-transformer-pytorch.git
[submodule "third-party/tab-llm"]
	path = third-party/tab-llm
	url = https://github.com/clinicalml/TabLLM
